<div class="dialog-content">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="stationX">X:</label>  <input id="stationX" class="form-control" type="text" ng-model="stationModal.station.x"  ng-required/>
        </div>
        <div class="form-group">
            <label for="stationY">Y:</label>  <input id="stationY" class="form-control" type="text" ng-model="stationModal.station.y" ng-required />
        </div>
        <button class="btn btn-info" ng-click="stationModal.addStation(stationModal.station)">Add station</button>
    </form>
</div>