<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>StartSimulationServlet</servlet-name>
        <servlet-class>WebServlets.StartSimulationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarsServlet</servlet-name>
        <servlet-class>WebServlets.CarsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StationsServlet</servlet-name>
        <servlet-class>WebServlets.StationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStationServlet</servlet-name>
        <servlet-class>WebServlets.AddStationServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>StartSimulationServlet</servlet-name>
        <url-pattern>/api/start_simulation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarsServlet</servlet-name>
        <url-pattern>/api/cars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StationsServlet</servlet-name>
        <url-pattern>/api/stations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStationServlet</servlet-name>
        <url-pattern>/api/addstation</url-pattern>
    </servlet-mapping>
</web-app>